.btn,
.jumbotron,
.nav :hover {
  /* its just saying that button, jumbotron and nav:hover all this 
  class/div/modules should have below styling. */
  border-radius: 0px;
}

body {
  background: #343a40;
}

footer{
  /* position:absolute; */
  /* position: relative; */
  /* margin-bottom: 0px; */
  /* margin-top:-150px; */
  bottom:0px;
  right:0px;
  left:0px;
}
